.media-tabs li a{    padding: 5px 20px!important;height: 50px;  line-height: 40px;}
.media-tabs li a .delete-cat{  display: none;position: absolute;top: 16px;right:8px;cursor: pointer;}
.media-tabs li.active a .delete-cat{display: block}