<div id="weekend-carousel" class="news-carousel carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <%for(var i=0;i<Math.min(2,weekendIndex.length);i++){%>
            <div class="col-xs-6">
                <div style="width: 330px;height: 245px; margin-right: 20px; display: inline-block;" class="sewise-video" data-url="<%=weekendIndex[i].videoUrl ||'novideo'%>">
                </div>
            </div>
            <%}%>
        </div><!--//item-->

        <div class="item ">
            <%for(var i=2;i<weekendIndex.length;i++){%>
                <div class="col-xs-6">
                    <div style="width: 330px;height: 245px; margin-right: 20px; display: inline-block;" class="sewise-video" data-url="<%=weekendIndex[i].videoUrl ||'novideo'%>">
                    </div>
                </div>
            <%}%>
        </div><!--//item-->
    </div><!--//carousel-inner-->
</div><!--//news-carousel-->
